---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
// import FAQSection from '../components/sections/FAQSection.astro';
// import SignatureExperiences from '../components/sections/SignatureExperiences.astro';
// import LatestEvents from '../components/sections/LatestEvents.astro';
import AboutSection from '../components/sections/AboutSection.astro';
import PillarsSection from '../components/sections/PillarsSection.astro';
// import TourismVision from '../components/sections/TourismVision.astro';
import TourismCards from '../components/sections/TourismCards.astro';
// import GallerySection from '../components/sections/GallerySection.astro';
---

<Layout
  title="GMC Tourism"
  description="Discover Bhutan through curated journeys, seamless planning, and immersive stories."
  mainClass="pt-0"
>
  <div data-page-content class="page-content">
    <Hero />
    <AboutSection />
    <!-- <TourismVision /> -->
    <PillarsSection />
    <!-- <SignatureExperiences /> -->
    <!-- <TourismCards /> -->
    <!-- <LatestEvents /> -->
    <!-- <GallerySection /> -->
    <!-- <FAQSection /> -->
  </div>
</Layout>
